<img src="<%= impressionTracker %>" id="dt-impression-tracker"/>

<script>

(function() {

	var bartender_click_url = '<%= clickUrl %>';
	var click_target = '_blank';
	var dtadsCampaign = '<%= client %>_<%= campaign %>';

	var style_str = " \
		@media (min-width: 800px) { \
			.dtads-bigtop-container iframe {\
						margin-bottom: -70px; \
					}\
			.dtads-bar-container { \
				position: relative; \
				width: 100%; \
				height: 70px; \
				pointer-events: none; \
			} \
			.dtads-bar-container > .close { \
				opacity: 0; \
				width: 20px; \
				height: 20px; \
				position: absolute; \
				top: 8px; \
				right: 8px; \
				background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NCA2NCIgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0Ij4KPHBvbHlnb24gZmlsbD0iI2ZmZmZmZiIgcG9pbnRzPSI2NCw1LjkgNTguMSwwIDMyLDI2LjEgNS45LDAgMCw1LjkgMjYuMSwzMiAwLDU4LjEgNS45LDY0IDMyLDM3LjkgNTguMSw2NCA2NCw1OC4xIDM3LjksMzIgIi8+Cjwvc3ZnPgo=) no-repeat; \
				background-size: contain;  \
				background-color: rgba(0,0,0,0.5); \
				border-radius: 50%; \
			} \
			.dtads-bar-container > .inner { \
				z-index: -1; \
			} \
			.m-pint-wrap.is-fixed .dtads-bar-container { \
				pointer-events: all; \
				z-index: 1; \
			} \
			.dtads-bar-container > .inner { \
				position: relative; \
				width: 100%; \
				background: url(<%= imageUrl %>) no-repeat bottom; \
				background-color: #000000; \
				opacity: 1; \
				height: 70px; \
				pointer-events: all; \
				cursor: pointer;\
				background-size: cover;\
				\
			} \
			.dtads-bar-container > .inner{ \
				display: block; \
				width: 100%; \
				height: 100%; \
			} \
			.m-pint-wrap.is-fixed .dtads-bar-container {\
				height: 70px !important;\
				opacity: 1; \
			} \
			.m-pint-wrap.is-fixed .dtads-bar-container > .close { \
				opacity: 1; \
			} \
		} \
		@media (max-width: 799px) { \
			.dtads-bar-container { \
				display: none; \
			} \
			.dtads-bigtop-container {\
				margin-bottom: 0; \
				display: none; \
			}\
		} \
		\
	";

	var script_str = " \
		(function() { \
			window.BKQ = window.BKQ || []; \
			window.BKQ.push(function() { \
				\
				var bk = window.Barkeep || DT.Barkeep; \
				var bs = window.Burnside || DTAds; \
				var bartenderHTML = window.document.createElement('div');\
				bartenderHTML.id = 'dtads-bar-container';\
				bartenderHTML.className = 'm-pint h-pint dtads-bar-container';\
				bartenderHTML.dataset.type = 'fixed';\
				bartenderHTML.dataset.priority = '1';\
				\
				/***** ADD YOU CUSTOM HTML HERE ***********/ \
				bartenderHTML.innerHTML = '<a href=\"javascript:void(0)\" class=\"inner\"></a><a href=\"javascript:void(0)\" class=\"close h-do-remove-pint\" rel=\"nofollow\"></a>'; \
				\
				bk.insert( bartenderHTML, 'bottom' ); \
				\
				var dtadsBartenderClickEvents = function() {\
					var _bartenderInnerContainer = window.document.querySelector('.dtads-bar-container .inner');\
					\
					_bartenderInnerContainer.addEventListener('click', function(event) {\
						event.preventDefault();\
						var win = window.top.open('" + bartender_click_url + "', '" + click_target + "');\
						win.focus();\
					}, false);\
					\
				};\
				dtadsBartenderClickEvents();\
				var changeBigtopMarginBack = function() {\
					var closeButton = window.document.querySelector('.dtads-bar-container > .close');\
					var bigtopContainerIframe = window.document.querySelector('.dtads-bigtop-container iframe') || window.document.querySelector('.burnside-bigtop-container iframe');\
					closeButton.addEventListener('click', function(evnt) {\
						evnt.preventDefault();\
						\
						if (!bigtopContainerIframe) return; \
							bigtopContainerIframe.style.marginBottom = '0'; \
						\
					}, false);\
				};\
				changeBigtopMarginBack();\
				\
				bk.remove_expendables(2, false); \
			}); \
		}()); \
	";

	// append style
	var head = window.parent.document.head || window.parent.document.getElementsByTagName('head')[0];
	var style_el  = window.parent.document.createElement( 'style' );

	style_el.type = 'text/css';

	if ( style_el.styleSheet )
		style_el.styleSheet.cssText = style_str;
	else
		style_el.appendChild( window.parent.document.createTextNode( style_str ) );

	head.appendChild( style_el );

	// append script
	var script_el  = window.parent.document.createElement( 'script' );
	script_el.type = 'text/javascript';
	script_el.text = script_str;

	window.parent.document.body.appendChild( script_el );

})();

</script>
