<script>
    var mp_click_url = '<%= clickUrl %>';
    var mp_front_image = '<%= imageUrl %>';
    var mp_back_image =  '<%= imageUrl %>';

    (function(click_url, front_image, back_image) {

        var dtads_mp_css = '.prefix-container { clear: both; }'
        + '.dtadspstr-container { top: 25px }'
        + '.prefix-layer-1 { preset_bg_fixed; z-index: 1; background-image: url("'+back_image+'"); }'
        + '.prefix-layer-2 { preset_bg; z-index: 2; background-image: url("'+front_image+'"); }';

        var dtads_mp_html = '<div class="prefix-layer-1"></div>'
        + '<div class="prefix-layer-2"></div>';

        _win = window.parent;

        var target = <%= scrollTarget %>;
        target.insertAdjacentHTML('afterend', '<div class="mp-slot"><span class="mp-slot-2"></span></div>');

        var dtads_mp_options = {
            target_class: 'mp-slot-2',
            height:       485,
            margin:       '60px 0 60px 0',
            css:          dtads_mp_css,
            html:         dtads_mp_html,
            click_url:    click_url,
        }

        var script = document.createElement('script');
        script.type = 'text/javascript';

        script.addEventListener('load', function() {
            DTAdsPoster.init( dtads_mp_options );
        });

        script.src = 'https://cdn.dtcn.com/ads/code/dtposter-v1.min.js';
        document.head.appendChild(script);

    }(mp_click_url, mp_back_image, mp_front_image));

</script>